.markdown-body {
	--color-accent-fg: #ff6699; 
}

/*
@media (prefers-color-scheme: dark)
.markdown-body {
	--color-accent-fg: initial;
}

@media (prefers-color-scheme: light)
.markdown-body {
	--color-accent-fg: initial;
}
*/
