<!doctype html>
<html class="no-js" lang="">

<head>
	<meta charset="utf-8">
	<title></title>
	<meta name="description" content="">
	<meta name="viewport" content="width=device-width, initial-scale=1">

  <meta property="og:title" content="">
  <meta property="og:type" content="">
  <meta property="og:url" content="">
  <meta property="og:image" content="">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->

  <link rel="stylesheet" href="/blog/css/normalize.css">
  <link rel="stylesheet" href="/blog/css/main.css">

  <!-- Github flavored CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-markdown-css/5.1.0/github-markdown.min.css">

	<!-- User CSS -->
	<link rel="stylesheet" href="/blog/css/blog.css">

  <!-- Fontawsome -->
	<script src="https://kit.fontawesome.com/a1763a7d6f.js" crossorigin="anonymous"></script>

	<!--
  <meta name="theme-color" content="#fafafa">
	-->
</head>

<body class="markdown-body">

  <!-- Add your site or application content here -->

<!--
<img src="https://camo.githubusercontent.com/8733716e2fd7444a0f383a9e5f43779a016bae35ddde4e1cc32a4f90bd9bb775/68747470733a2f2f696d672e736869656c64732e696f2f62616467652f76657273696f6e2d312e322e332d626c7565" alt="version" data-canonical-src="https://img.shields.io/badge/version-1.2.3-blue" style="max-width: 100%;">
-->

<h1 style="margin-bottom: 48px; font-weight: 900;"><i class="fa-brands fa-github"></i> {{owner}} / {{repo}}</h1>

<ol>
{{#data}}
	<li style="margin-top: 2em; list-style: none;">
		<span style="font-weight: 900; font-size: 1.3em;"><a href="posts/{{id}}.html"><i class="fa-solid fa-link"></i> {{title}}</a></span><br>

		<span style="color: gray; margin-left: 2em;">
			<i class="fa-regular fa-calendar-days"></i> {{updated_at_short}}
			{{#labels}}
				<span style="margin-left: 0.5em;">
					<i class="fa-solid fa-tag"></i> {{name}}
				</span>
			{{/labels}}
		</span>
	</li>
{{/data}}
</ol>


  <!-- Google Analytics: change UA-XXXXX-Y to be your site's ID. -->
	<script>
		window.ga = function () { ga.q.push(arguments) }; ga.q = []; ga.l = +new Date;
		ga('create', 'UA-XXXXX-Y', 'auto'); ga('set', 'anonymizeIp', true); ga('set', 'transport', 'beacon'); ga('send', 'pageview')
	</script>
	<script src="https://www.google-analytics.com/analytics.js" async></script>
</body>

</html>



<style>
	.markdown-body {
		box-sizing: border-box;
		min-width: 200px;
		max-width: 980px;
		margin: 0 auto;
		padding: 45px;
	}

	@media (max-width: 767px) {
		.markdown-body {
			padding: 15px;
		}
	}
</style>

